:root {
  --bg-main: #fffaf5;
  --bg-card: #ffffff;

  --primary: #6b5cff;
  --primary-soft: #ede9fe;
  --accent: #c7d2fe;

  --text-main: #141414;
  --text-sub: #5f5f5f;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* 기본 리셋 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* 링크 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* 버튼 기본 */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus-visible {
  outline: 2px solid #646cff;
}
:root {
  --bg-main: #dad4f9;
  --bg-card: #dfb9f5;

  --primary: #6b5cff;        /* 버튼, 선택 셀 */
  --primary-soft: #ede9fe;   /* 셀 기본 */
  --accent: #c7d2fe;         /* hover */

  --text-main: #1f1f1f;
  --text-sub: #5f5f5f;
}

.home-title {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
  color: var(--text-main);
}

.home-desc {
  font-size: 14px;
  color: var(--text-sub);
  margin-bottom: 32px;
}
.home-card {
  box-shadow: 0 14px 40px rgba(0,0,0,0.08);
}
.btn-outline {
  width: 100%;
  padding: 14px;
  border-radius: 16px;
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.btn-outline:hover {
  background: var(--primary-soft);
}
